.App .footer {
  font-size: 10px;
  color: var(--fbs-soft-green);
}
.App .footer a {
  color: var(--fbs-duckegg);
}
header {
  display: flex;
  justify-content: center;
}
.App-header img {
  max-width: 30%;
}
